body          {font-family: 'メイリオ',
              'Hiragino Kaku Gothic Pro',
              sans-serif;
              background-color: #ffffff;
              color: #1C1C1C;
              margin: 0;}

h1            {margin-top: 0;
              margin-bottom: 0;}

header h1     {width: 900px;
              margin-left: auto;
              margin-right: auto;}

article h1    {border-bottom: solid 5px orange;}

h2            {margin-bottom: 6px;
              font-size: 20px;
              border-left: solid 5px orange;
              padding-left: 4px;}

h3            {font-size: 18px;}

h4            {margin-top: 0;
              margin-bottom: 0;
              font-size: 18px;
              color: #808080;}

p             {line-height: 1.5;}

ul            {padding-left: 40px; 
              padding-top: 0; 
              padding-bottom: 0; 
              margin-top: 0;
              margin-bottom: 0;} 

pre           {overflow: auto;
              background-color: #333333;
              padding-left: 8px;
              padding-right: 8px;
              border-radius: 2px;
              margin-top: 0;}

code          {font-size: 16px;
              background-color: #333333;
              color: #ffffff;
              line-height: 1.5;
              margin-top: 0;}

header        {background-color: #ffffff;
              padding: 4px;
              border-bottom: solid thin;
              margin-bottom: 30px;}

header a      {text-decoration: none;
              margin-left: 30px;}

header a:link     {color: #1C1C1C;}
header a:visited  {color: #1C1C1C;}
header a:hover    {color: #585858;}

.main         {width: 900px;
              margin-left: auto;
              margin-right: auto;}

.top          {width: 900px;}

.articles     {width: 750px;
              float: left;}

.articles h2  {margin-top: 0;}

.side         {width: 120px;
              float: right;}

.wrap         {overflow: hidden;}

.fix          {position: fixed;
              width: 120px;}

article       {background-color: #ffffff;
              border: solid thin;
              margin-left: auto;
              margin-right: auto;
              margin-bottom: 30px;
              padding-left: 30px;
              padding-right: 30px;
              padding-top: 20px;
              padding-bottom: 20px;}

footer        {width: 900px;
              float: left;
              margin-top: -25px;
              margin-bottom: 30px;
              margin-left: auto;
              margin-right: auto;}

footer small  {margin-left: 30px;}
