body          {font-family: 'メイリオ',
              'Hiragino Kaku Gothic Pro',
              sans-serif;
              background-color: #eaeaea;
              color: #1C1C1C;
              margin: 0;}

h1            {margin-top: 0;
              margin-bottom: 0;}

header h1     {width: 900px;
              margin-left: auto;
              margin-right: auto;}

article h1    {border-bottom: solid 5px orange;}

h2            {margin-bottom: 6px;
              font-size: 20px;
              border-left: solid 5px orange;
              padding-left: 4px;}

h3            {font-size: 18px;}

h4            {margin-top: 0;
              margin-bottom: 0;
              font-size: 18px;
              color: #808080;}

p             {line-height: 1.5;}

ul            {padding-left: 40px; 
              padding-top: 0; 
              padding-bottom: 0; 
              margin-top: 0;
              margin-bottom: 0;} 

pre           {overflow: auto;
              background-color: #333333;
              padding-left: 8px;
              padding-right: 8px;
              border-radius: 2px;
              margin-top: 0;}

code          {font-size: 16px;
              background-color: #333333;
              color: #ffffff;
              line-height: 1.5;
              margin-top: 0;}

header        {background-color: #ffffff;
              padding: 4px;
              margin-bottom: 30px;}

header a      {text-decoration: none;
              margin-left: 30px;}

header a:link     {color: #1C1C1C;}
header a:visited  {color: #1C1C1C;}
header a:hover    {color: #585858;}

article       {background-color: #ffffff;
              margin-left: auto;
              margin-right: auto;
              margin-bottom: 30px;
              border-radius: 10px;
              padding-left: 30px;
              padding-right: 30px;
              padding-top: 20px;
              padding-bottom: 20px;}

footer        {width: 900px;
              float: left;
              margin-top: -25px;
              margin-bottom: 30px;
              margin-left: auto;
              margin-right: auto;}

footer small  {margin-left: 30px;}

.main         {width: 900px;
              margin-left: auto;
              margin-right: auto;}

.top          {width: 900px;}

.articles     {width: 730px;
              float: left;}

.articles h2  {margin-top: 0;}

.side         {width: 140px;
              float: right;}

.wrap         {overflow: hidden;}

.fix          {position: fixed;
              width: 140px;
              height: 320px;
              border-radius: 10px;
              overflow-y: scroll}

.fix h2       {margin-top: 10px;
              margin-bottom: 10px;}

.fix article  {margin-bottom: 0;
              padding-top: 10px;
              padding-bottom: 10px;}              

.hide        {display: none;}

.accordion_icon {
    position: relative;
    width: 30px;
    height: 30px;
    float: right;
    margin-right: 5px;
}
.accordion_icon div {
    display: inline;
}
.accordion_icon span {
    position: absolute;
    left: 6px;
    width: 70%;
    height: 5px;
    background-color: orange;
}
.accordion_icon span:nth-of-type(1) {
    top: 8px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}
.accordion_icon span:nth-of-type(2) {
    top: 8px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}
.accordion_icon.active span:nth-of-type(1) {
    top: 8px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
.accordion_icon.active span:nth-of-type(2) {
    top: 8px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
}
